body{
    background-color: burlywood;
}
.jumbotron{
    margin: 0%;
}
.head{
    margin-left: 350px;
     border: 4px ridge rgba(255, 0, 0, 0.445);
      width: 50%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: green;
}
li{
    cursor: pointer;
}
:hover.jav, :hover.syn, :hover.und{
    color: red;
}
:hover.ope, :hover.attr, :hover.boo{
    color: rgb(102, 255, 0);
}
:hover.var, :hover.jqu, :hover.str{
    color: rgb(248, 76, 99);
}
:hover.varName, :hover.com, :hover.chain{
    color: rgb(255, 255, 255);
}

:hover.func, :hover.alt, :hover.ret{
    color: rgb(96, 119, 224);
}
:hover.meth, :hover.null, :hover.par{
    color: rgb(145, 34, 145);
}
:hover.arg, :hover.nan{
    color: rgb(228, 187, 2);
}








p{
    text-indent: 10px;
    font-size: 20px;
}
li{
    font-size: 20px;
}
a{
    position: fixed;
    color: rgb(197, 130, 75);
    border: 4px ridge rgb(212, 4, 4);
   margin: 25px;
   padding: 4px;
   border-radius: 20px;
   background-color: lightgoldenrodyellow;
}
  
:hover link {
    color: rgb(123, 0, 139);
}
.link{
    margin-top: 0.20%;
   
}
.javhead{
    background-color: rgb(223, 201, 9);
}
table,th,td{
    border: 2px ridge red;
}
th,td{
  padding-left: 25px;
}